@model DTO.EntityDTO.SocialMediaDTO

@{
    ViewData["Title"] = "SocialMediaUpdate";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="xs">
    <h3>Redaktə Form</h3>
    <div class="well1 white">
        <form method="post" class="form-floating ng-pristine ng-invalid ng-invalid-required ng-valid-email ng-valid-url ng-valid-pattern" novalidate="novalidate" ng-submit="submit()">
            <fieldset>
                <div class="form-group">
                    <label class="control-label">Ikon</label>
                    <input type="text" asp-for="IconURL" class="form-control1 ng-invalid ng-invalid-required ng-touched" ng-model="model.name" required="">
                </div>
                <div class="form-group">
                    <label class="control-label">URL</label>
                    <input type="url" asp-for="LinkURL" class="form-control1 ng-invalid ng-invalid-required ng-touched" ng-model="model.name" required="">
                </div>
                <div class="form-group">
                    <button type="submit" class="btn btn-primary">Redaktə et</button>
                    <button type="reset" class="btn btn-default">Sıfırla</button>
                </div>
            </fieldset>
        </form>
    </div>
</div>

