
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_HomeLayout.cshtml";
}

<!-- Menu Section Start -->
<section class="menu" id="menu">
    <h1 class="heading">Standart <span>menyular</span></h1>
    <div class="box-container">
        <div class="box">
            <div class="box-head">
                <img src="~/website/images/menu-1.png" alt="menu" />
                <span class="menu-category">PIZZA</span>
                <h3>6 Mini Pizzas</h3>
                <div class="price">$104.99 <span>119.99</span></div>
            </div>
            <div class="box-bottom">
                <a href="#" class="btn">sifarış ver</a>
            </div>
        </div>
        <div class="box">
            <div class="box-head">
                <img src="~/website/images/menu-1.png" alt="menu" />
                <span class="menu-category">PIZZA</span>
                <h3>6 Mini Pizzas</h3>
                <div class="price">$104.99 <span>119.99</span></div>
            </div>
            <div class="box-bottom">
                <a href="#" class="btn">sifarış ver</a>
            </div>
        </div>
        <div class="box">
            <div class="box-head">
                <img src="~/website/images/menu-1.png" alt="menu" />
                <span class="menu-category">PIZZA</span>
                <h3>6 Mini Pizzas</h3>
                <div class="price">$104.99 <span>119.99</span></div>
            </div>
            <div class="box-bottom">
                <a href="#" class="btn">sifarış ver</a>
            </div>
        </div>

    </div>
</section>
<!-- Menu Section End -->
<!-- Products Section Start -->
<section class="products" id="products">
    <h1 class="heading">Özəl <span>menyular</span></h1>
    <div class="box-container">
        <div class="box">
            <div class="box-head">
                <span class="title">MINI BURGER</span>
                <a href="#" class="name">Bacon Burger</a>
            </div>
            <div class="image">
                <img src="~/website/images/product-1.png" alt="products" />
            </div>
            <div class="box-bottom">
                <div class="info">
                    <b class="price">$6.00</b>
                    <span class="amount">110gr / 300 Cal</span>
                </div>
                <div class="product-btn">
                    <a href="#">
                        <i class="fas fa-plus"></i>
                    </a>
                </div>
            </div>
        </div>
        <div class="box">
            <div class="box-head">
                <span class="title">MINI BURGER</span>
                <a href="#" class="name">Bacon Burger</a>
            </div>
            <div class="image">
                <img src="~/website/images/product-2.png" alt="products" />
            </div>
            <div class="box-bottom">
                <div class="info">
                    <b class="price">$6.00</b>
                    <span class="amount">110gr / 300 Cal</span>
                </div>
                <div class="product-btn">
                    <a href="#">
                        <i class="fas fa-plus"></i>
                    </a>
                </div>
            </div>
        </div>
        <div class="box dark-bg">
            <div class="box-head">
                <span class="title">MINI BURGER</span>
                <a href="#" class="name">Bacon Burger</a>
            </div>
            <div class="image">
                <img src="~/website/images/dark-product.jpg" alt="products" />
            </div>
            <div class="box-bottom">
                <div class="info">
                    <b class="price">$6.00</b>
                    <span class="amount">110gr / 300 Cal</span>
                </div>
                <div class="product-btn">
                    <a href="#">
                        <i class="fas fa-plus"></i>
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Products Section End -->
<!-- Review Section Start -->
<section class="review" id="review">
    <h1 class="heading">customer's <span>review</span></h1>
    <div class="box-container">
        <div class="box">
            <img src="~/website/images/quote.png" alt="quote" />
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Illo
                suscipit voluptatibus atque ipsa rem, dolore voluptatum
                reprehenderit alias qui quis cum natus ad sit dignissimos. Aliquam
                ipsum nobis quis officia!
            </p>
            <img src="~/website/images/avatar-1.png" alt="avatar" class="user" />
            <h3>Jenifer Becker</h3>
            <div class="stars">
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star-half-alt"></i>
            </div>
        </div>
        <div class="box">
            <img src="~/website/images/quote.png" alt="quote" />
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Illo
                suscipit voluptatibus atque ipsa rem, dolore voluptatum
                reprehenderit alias qui quis cum natus ad sit dignissimos. Aliquam
                ipsum nobis quis officia!
            </p>
            <img src="~/website/images/avatar-2.png" alt="avatar" class="user" />
            <h3>John Doe</h3>
            <div class="stars">
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star-half-alt"></i>
            </div>
        </div>
        <div class="box">
            <img src="~/website/images/quote.png" alt="quote" />
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Illo
                suscipit voluptatibus atque ipsa rem, dolore voluptatum
                reprehenderit alias qui quis cum natus ad sit dignissimos. Aliquam
                ipsum nobis quis officia!
            </p>
            <img src="~/website/images/avatar-3.png" alt="avatar" class="user" />
            <h3>Lisa Arambula</h3>
            <div class="stars">
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star-half-alt"></i>
            </div>
        </div>
    </div>
</section>
<!-- Review Section End -->