
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_PageLayout.cshtml";
}

<!-- About Section Start -->
<section class="about" id="about">
    <h1 class="heading">about <span>us</span></h1>
    <div class="row">
        <div class="image">
            <img src="~/website/images/about.jpg" alt="about" />
        </div>
        <div class="content">
            <h3>What Is The Secret Recipe Of Our Burgers?</h3>
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugiat enim
                adipisci minima dolorem, explicabo quos obcaecati sunt quasi?
                Laborum, ipsum.
            </p>
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugiat enim
                adipisci minima dolorem, explicabo quos obcaecati sunt quasi?
                Laborum, ipsum.
            </p>
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugiat enim
                adipisci minima dolorem, explicabo quos obcaecati sunt quasi?
                Laborum, ipsum.
            </p>
            <a href="#" class="btn">Learn More</a>
        </div>
    </div>
</section>
<!-- About Section End -->