@model IEnumerable<DTO.EntityDTO.AboutDTO>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_PageLayout.cshtml";
}

<!-- About Section Start -->
<section class="about" id="about">
    <h1 class="heading">Şirkət <span>Haqqında</span></h1>
    <div class="row">
        @foreach (var item in Model)
        {
            <div class="image">
                <img src="~/images/@item.ImageURL" alt="about" />
            </div>
            <div class="content">
                <h3>@item.Title</h3>
                <p>
                    @item.Text
                </p>
            </div>
        }
    </div>
</section>
<!-- About Section End -->