
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_PageLayout.cshtml";
}

<!-- Review Section Start -->
<section class="review" id="review">
    <h1 class="heading">customer's <span>review</span></h1>
    <div class="box-container">
        <div class="box">
            <img src="~/website/images/quote.png" alt="quote" />
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Illo
                suscipit voluptatibus atque ipsa rem, dolore voluptatum
                reprehenderit alias qui quis cum natus ad sit dignissimos. Aliquam
                ipsum nobis quis officia!
            </p>
            <img src="~/website/images/avatar-1.png" alt="avatar" class="user" />
            <h3>Jenifer Becker</h3>
            <div class="stars">
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star-half-alt"></i>
            </div>
        </div>
        <div class="box">
            <img src="~/website/images/quote.png" alt="quote" />
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Illo
                suscipit voluptatibus atque ipsa rem, dolore voluptatum
                reprehenderit alias qui quis cum natus ad sit dignissimos. Aliquam
                ipsum nobis quis officia!
            </p>
            <img src="~/website/images/avatar-2.png" alt="avatar" class="user" />
            <h3>John Doe</h3>
            <div class="stars">
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star-half-alt"></i>
            </div>
        </div>
        <div class="box">
            <img src="~/website/images/quote.png" alt="quote" />
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Illo
                suscipit voluptatibus atque ipsa rem, dolore voluptatum
                reprehenderit alias qui quis cum natus ad sit dignissimos. Aliquam
                ipsum nobis quis officia!
            </p>
            <img src="~/website/images/avatar-3.png" alt="avatar" class="user" />
            <h3>Lisa Arambula</h3>
            <div class="stars">
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star-half-alt"></i>
            </div>
        </div>
    </div>
</section>
<!-- Review Section End -->
