
<div class="navbar-default sidebar" role="navigation">
    <div class="sidebar-nav navbar-collapse">
        <ul class="nav" id="side-menu">
            <li>
                <a asp-controller="Admin" asp-action="Index"><i class="fa fa-dashboard fa-fw nav_icon"></i>Dashboard</a>
            </li>

            <li>
                <a asp-controller="Admin" asp-action="About"><i class="fa fa-dashboard fa-fw nav_icon"></i>Haqqımızda</a>
            </li>

            <li>
                <a asp-controller="Admin" asp-action="Message"><i class="fa fa-dashboard fa-fw nav_icon"></i>Mesajlar</a>
            </li>

            <li>
                <a asp-controller="Admin" asp-action="Contact"><i class="fa fa-dashboard fa-fw nav_icon"></i>Bizimlə Əlaqə</a>
            </li>

            <li>
                <a asp-controller="Admin" asp-action="Category"><i class="fa fa-dashboard fa-fw nav_icon"></i>Kateqoriyalar</a>
            </li>

            <li>
                <a asp-controller="Admin" asp-action="SocialMedia"><i class="fa fa-dashboard fa-fw nav_icon"></i>Hesablar</a>
            </li>
            <li>
                <a asp-controller="Admin" asp-action="Menu"><i class="fa fa-dashboard fa-fw nav_icon"></i>Menyular</a>
            </li>

            <li>
                <a href="#"><i class="fa fa-envelope nav_icon"></i>Mailbox<span class="fa arrow"></span></a>
                <ul class="nav nav-second-level">
                    <li>
                        <a href="inbox.html">Inbox</a>
                    </li>
                    <li>
                        <a href="compose.html">Compose email</a>
                    </li>
                </ul>
                <!-- /.nav-second-level -->
            </li>

            <li>
                <a href="#"><i class="fa fa-check-square-o nav_icon"></i>Forms<span class="fa arrow"></span></a>
                <ul class="nav nav-second-level">
                    <li>
                        <a href="forms.html">Basic Forms</a>
                    </li>
                    <li>
                        <a href="validation.html">Validation</a>
                    </li>
                </ul>
                <!-- /.nav-second-level -->
            </li>
            <li>
                <a href="#"><i class="fa fa-table nav_icon"></i>Tables<span class="fa arrow"></span></a>
                <ul class="nav nav-second-level">
                    <li>
                        <a href="basic_tables.html">Basic Tables</a>
                    </li>
                </ul>
                <!-- /.nav-second-level -->
            </li>
            <li>
                <a href="#"><i class="fa fa-sitemap fa-fw nav_icon"></i>Css<span class="fa arrow"></span></a>
                <ul class="nav nav-second-level">
                    <li>
                        <a href="media.html">Media</a>
                    </li>
                    <li>
                        <a href="login.html">Login</a>
                    </li>
                </ul>
                <!-- /.nav-second-level -->
            </li>
        </ul>
    </div>
    <!-- /.sidebar-collapse -->
</div>