<section class="home" id="home">
    <div class="content">
        <h3>EXPRESS HOME DELIVERY</h3>
        <p>
            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quis iusto
            vel minima hic quaerat error!
        </p>
        <a href="#" class="btn">Order Now</a>
    </div>
</section>