<header class="header">
    <a class="logo" href="#">
        <img src="~/website/images/logo.png" alt="logo" />
    </a>
    <nav class="navbar">
        <a asp-controller="Home" asp-action="Index" class="active">Menyular</a>
        <a asp-controller="Special" asp-action="Index">Özəl</a>
        <a asp-controller="About" asp-action="Index">Haqqımızda</a>
        <a asp-controller="Contact" asp-action="Add">Bizimlə Əlaqə</a>
        <a asp-controller="Review" asp-action="Index">Rəylər</a>
        <a asp-controller="Login" asp-action="SignIn">Daxil ol</a>
        <a asp-controller="Login" asp-action="SignUp">Qeydiyyat</a>
        @if (User.IsInRole("Admin"))
        {
            <a asp-controller="Admin" asp-action="Index">Admin</a>
        }
    </nav>
    <div class="buttons">
        <button id="search-btn">
            <i class="fas fa-search"></i>
        </button>
        <button id="cart-btn">
            <i class="fas fa-shopping-cart"></i>
        </button>
        <button id="menu-btn">
            <i class="fas fa-bars"></i>
        </button>
    </div>
    <form asp-controller="Menu" asp-action="Index" method="get">

        <div class="search-form">
            <input type="text" value="@ViewBag.i" class="search-input" name="search" id="search-box" placeholder="Menu axtar">
            <i class="fas fa-search"></i>
        </div>
    </form>
    <div class="cart-items-container">
        <div class="cart-item">
            <i class="fas fa-times"></i>
            <img src="~/website/images/menu-1.png" alt="menu">
            <div class="content">
                <h3>cart item 01</h3>
                <div class="price">$15.99/-</div>
            </div>
        </div>
        <div class="cart-item">
            <i class="fas fa-times"></i>
            <img src="~/website/images/menu-2.png" alt="menu">
            <div class="content">
                <h3>cart item 02</h3>
                <div class="price">$15.99/-</div>
            </div>
        </div>
        <div class="cart-item">
            <i class="fas fa-times"></i>
            <img src="~/website/images/menu-3.png" alt="menu">
            <div class="content">
                <h3>cart item 03</h3>
                <div class="price">$15.99/-</div>
            </div>
        </div>
        <div class="cart-item">
            <i class="fas fa-times"></i>
            <img src="~/website/images/menu-4.png" alt="menu">
            <div class="content">
                <h3>cart item 04</h3>
                <div class="price">$15.99/-</div>
            </div>
        </div>
        <a href="#" class="btn">Checkout Now</a>
    </div>
    <!--bu en axirdadi responsivlikde-->
</header>